[Unit]
Description=Hello Flask Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/app/
ExecStart=/usr/bin/python3 /opt/app/hello.py
Restart=always

[Install]
WantedBy=multi-user.target